{% extends 'portfolio/base.html' %}
{% load static %}

{% block title %} {{title_name}} {% endblock title %}


{% block content %}  

<!--=== ABOUT ===-->
<section class="about section" id="about">
        <span class="section-subtitle">My intro</span>
        <h2 class="section-title">About Me</h2>

        <div class="about__container bd-grid">
            <div class="about__data">
                <p class="about__description">Hi, I'm a backend developer. Passionate about creating and developing web interface. I have Experience in this area of work, with multiple quality projects.</p>
                <img src="{% static 'about/assets/sarwar-mithu.png' %}" alt="" class="about__img">
            </div>

            <div>
                <div class="about__information">
                    <h3 class="about__information-title">Information</h3>

                    <div class="about__information-data">
                        <i class='bx bx-user about__information-icon' ></i>
                        <span>Sarwar Mithu</span>
                    </div>

                    <div class="about__information-data">
                        <i class='bx bx-phone about__information-icon' ></i>
                        <span>+8801964626938</span>
                    </div>

                    <div class="about__information-data">
                        <i class='bx bx-envelope about__information-icon' ></i>
                        <span>sarwarmithucse@gmail.com</span>
                    </div>
                </div>


                <div class="about__information">
                    <h3 class="about__information-title">Experience and Support</h3>

                    <div class="about__information-data">
                        <i class='bx bx-medal about__information-icon' ></i>
                        <div>
                            <span class="about__information-subtitle">job Experience</span>
                            <span class="about__information-subtitle-small">Null</span>
                        </div>
                    </div>

                    <div class="about__information-data">
                        <i class='bx bx-briefcase about__information-icon' ></i>
                        <div>
                            <span class="about__information-subtitle">20+ Projects</span>
                            <span class="about__information-subtitle-small">Completed</span>
                        </div>
                    </div>

                    <div class="about__information-data">
                        <i class='bx bx-support about__information-icon' ></i>
                        <div>
                            <span class="about__information-subtitle">Support</span>
                            <span class="about__information-subtitle-small">Online 24/7</span>
                        </div>
                    </div>
                </div> 
            </div>

            
        </div>

</section>

{% endblock content %}