{% extends 'portfolio/base.html' %}
{% load static %}

{% block title %} {{title_name}} {% endblock title %}


{% block content %}
<!--==== SERVICES =====-->
<section class="services section" id="services">
    <span class="section-subtitle">What I Offer</span>
    <h2 class="section-title">My Services</h2>

    <div class="services__container bd-grid">
        <div class="services__content">
            <i class='bx bx-code services__icon'></i>
            <h3 class="services__title">Web Design</h3>
            <p class="services__description">This service that i offer is of high quality, and above all Experience that I have in the labor field many years...</p>
        </div>

        <div class="services__content">
            <i class='bx bx-pen services__icon'></i>
            <h3 class="services__title">Graphic Design</h3>
            <p class="services__description">This service that i offer is of high quality, and above all Experience that I have in the labor field many years....</p>
        </div>

        <div class="services__content">
            <i class='bx bx-brush services__icon'></i>
            <h3 class="services__title">UI/UX</h3>
            <p class="services__description">This service that i offer is of high quality, and above all Experience that I have in the labor field many years...</p>
        </div>

        <div class="services__content">
            <i class='bx bx-server services__icon'></i>
            <h3 class="services__title">Backend Development</h3>
            <p class="services__description">This service that i offer is of high quality, and above all Experience that I have in the labor field many years...</p>
        </div>

        <div class="services__content">
            <i class='bx bx-pencil services__icon'></i>
            <h3 class="services__title">Content Writing</h3>
            <p class="services__description">This service that i offer is of high quality, and above all Experience that I have in the labor field many years...</p>
        </div>

        <div class="services__content">
            <i class='bx bx-mobile services__icon'></i>
            <h3 class="services__title">Interface Movil</h3>
            <p class="services__description">This service that i offer is of high quality, and above all Experience that I have in the labor field many years...</p>
        </div>
    </div>
</section>

<!--==== PROJECTS IN MIND ====-->
<section class="project section">
    <div class="project__container bd-grid">
        <div class="project__data">
            <h2 class="section-title project__title">Do you have a project in mind</h2>
            <p class="project__description">If you have a project that you want to carry out, Do not hesitate and tell me what it is, and what services I can offer you, contact me directly here...</p>
            <a href="{% url 'contact' %}" class="button button__light">Contact Me</a>
        </div>

        <img src="{% static 'services/assets/mind.png' %}" alt="" class="project__img">
    </div>

</section>

{% endblock content %}